@import "cssreset.css"

$screenWidthSmaller_900 = "screen and (max-width: 900px)"
MAINWIDTH = 1140px
html
  height: 100%
body
  font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif
  height: 100%
  min-width: 320px
  text-align: center
  background-color: black
  #btn1
    display: inline-block
    width: 70px
    height: 70px
    border-radius: 99px
    background: #333333
    cursor: pointer
    margin: 40px auto 40px auto
    box-shadow: inset  -1px 1px 9px 1px #1f1f1f, inset 1px -1px 4px 2px #6d6d6d, 0 0 20px 0 #ffffff
    animation: normal-move 6s infinite
    animation-direction: alternate
    &:hover
      background: black
@keyframes normal-move
  25%
    box-shadow: inset -1px 1px 3px 2px #1f1f1f, inset 1px -1px 3px 1px #6d6d6d, 0 0 20px 0 #00d2b0
  50%
    box-shadow: inset -1px 1px 3px 1px #6d6d6d, inset 1px -1px 3px 2px #1f1f1f, 0 0 20px 0 #008c75
  75%
    box-shadow: inset -1px 1px 3px 2px #1f1f1f, inset 1px -1px 3px 1px #6d6d6d, 0 0 20px 0 #00caa9
  100%
    box-shadow: inset -1px 1px 3px 1px #6d6d6d, inset 1px -1px 3px 2px #1f1f1f, 0 0 20px 0 #008c75 