doctype html

html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="keywords",  content="2017 GES未来教育大会")

block meta

block title
  title DC巨作《正义者联盟》

block css
  link(rel="stylesheet", href="../css/main.css")

block body
  body
    #btn1
      img.trai(src="../img/trai1.png")
    audio(src="../audio/fucku.mp3" id="audio1" style="display: none")

block js
    script(type="text/javascript" src="../js/jquery.js")
    script(type="text/javascript" src="../js/main.js")
    