doctype html

html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="keywords",  content="2017 GES未来教育大会")

block meta

block title
  title GES 2017未来教育大会

block css
  link(rel="stylesheet", href="../css/test.css")

block body
  body
    .box
      .child
      .child asdasdasdasdasdas
      .child
block js